[Desktop Entry]
Name=Sample Social Networkers Salary n=100 - Lesson 4 (1).xlsx
Type=Link
URL=https://docs.google.com/spreadsheets/d/1Omlb7hh5VRTn3b6mmMcpRpbd0KePf5axfdemOBJV1Pg/edit?usp=drivesdk
